.col-xs-12
  h3.text-center.title Bookmarks
.row
  .col-xs-1
  .col-xs-3#forms
    h4.text-center Create a Category
    form.form#category-form(name='categoryForm', role='form', novalidate)
      .form-group
        label(for='name') Name
        input.form-control#name(type='text', name='name', ng-model='category.name', placeholder='Cooking, Health...')
      button.btn.btn-primary.pull-right(ng-show='categoryForm.$valid', ng-click='addCategory()') Add Category
    form.form#bookmark-form(name='bookmarkForm', role='form', novalidate)
      h4.text-center Add your bookmarks
      .form-group
        label(for='bookmarkName') Name
        input.form-control#bookmark-name(type='text', name='bookmarkName', ng-model='bookmark.name', required)
      .form-group
        label(for='link') Link
        input.form-control#link(type='text', name='link', ng-pattern='/^http/', ng-model='bookmark.link', required)
      .form-group
        label.label-control(for='categoryId') Category
          select.form-control(name='categoryId', ng-model='bookmark.categoryId', ng-options='c._id as c.name for c in categories', required)
            option.form-control(value='') Select Category
      button.btn.btn-primary.pull-right(ng-show='bookmarkForm.$valid', ng-click='addBookmark()') Add Bookmark
  .col-xs-3
    #categories(ng-model='search')
      .clear.pull-right: a(href='/#/bookmarks') Clear
      ul
        li(ng-repeat='category in categories')
          a(href='#/bookmarks/{{category._id}}') {{category.name}}
  .col-xs-4#bookmarks
    ul
      li(ng-repeat='bookmark in bookmarks | filter:categoryId'): a(href='{{bookmark.link}}') {{bookmark.name}}
  .col-xs-1
